.shopCarCont{
	width: 1000px;
	height: auto;
	/*height: 500px;*/
	margin: 0 auto;
}
.shopCarCont>ul{
	width: 350px;
	height: 32px;
	margin: 50px auto;
	
}
.shopCarCont>ul>li{
	float: left;
	font: 13px/32px "微软雅黑";
	margin-right: 50px;
	color: #999999;
}
.shopList li{
	padding: 10px 0;
	border-bottom: 1px solid #999;
}
.shopList li.current div{
	font-size: 16px;
	color: #666;
}
.shopList li div{
	display: inline-block;
	font-size: 12px;
	color: #aaa;
}
.shopList li div img{
	width: 70px;
	height: 70px;
}
.all{
	width: 100px;
	text-align: center;
	vertical-align: middle;
}
.goodshop{
	width: 320px;
	text-align: center;
}
.number{
	width: 120px;
	text-align: center;
}
.onePrice{
	width: 120px;
	text-align: center;
}
.total{
	width: 120px;
	text-align: center;
}
.delete{
	width: 120px;
	text-align: center;
}
.number2>span{
	color: #666;
	font-size: 14px;
	margin-right: 5px;
	cursor: pointer;
}
.delete>span{
	color: #14BABA;
	cursor: pointer;
}
.shopList li.current>.delete>span{
	color: #666;
}

.balance{
	width: 200px;
	margin: 20px auto;
	text-align: center;
}
.balance div{
	margin: 15px;
}
.allPrice span{
	color: #14BABA;
	font-size: 20px;
}
.nowBbla p{
	width: 100%;
	text-align: center;
	background: #14BABA;
	padding: 10px 0;
	font-size: 14px;
	color: #fff;
}
.goOn a{
	color: #666;
	font-size: 14px;
}
